<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="blog"/>
    <meta name="Description" content="blog"/>
    <title>Simple</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<div class="main">
    <div class="header">
    	<ul id="pages">
            <li><a href="/">home</a></li>
            <li><a href="/#/tags">tags</a></li>
            <li><a href="/#/archive">archive</a></li>
    	</ul>
    </div>
	<div class="wrap-header">
	<h1>
    <a href="/" id="title"></a>
	</h1>
	</div>
<div id="md" style="display: none;">
<!-- markdown -->
## ngClass 的使用实例

&nbsp;&nbsp;&nbs;&nbsp;今天想去修改angular 指令中的class样式，但是发现我居然对ngClass的使用并不熟悉。It's a sad story..... 所以学习了一下，其实主要的用法很简单。。。

### 用法：
ng-class = "{ 样式名1: 表达式 , 样式名2: 表达式 }"


### demo:

css:

```
	.strikeLine {
      text-decoration: line-through;
    }
    
    .yellowBg {
      background: yellow;
    }
    
    .redFont {
      color: red;
    }

```


html:

```
  <!-- 注意样式之间是通过逗号进行分割的， 而不是分号 -->
  <p ng-class="{strikeLine: deleted, yellowBg: yellow, redFont: red}">test example for ng-class </p>
  <div>
      <input type="checkbox" ng-model="deleted"/>strike line
  </div>
  
  <div>
      <input type="checkbox" ng-model="yellow"/>yellow bg
  </div>
  
  <div>
      <input type="checkbox" ng-model="red"/>red font
  </div>

``` 

[Jsbin 在线实例查看地址](http://jsbin.com/joyayikedo/edit?html,output)

<!-- markdown end -->
</div>
<div class="entry" id="main">
<!-- content -->
<h2 id="ngclass">ngClass 的使用实例</h2>

<p>&nbsp;&nbsp;&amp;nbs;&nbsp;今天想去修改angular 指令中的class样式，但是发现我居然对ngClass的使用并不熟悉。It's a sad story..... 所以学习了一下，其实主要的用法很简单。。。</p>

<h3 id="">用法：</h3>

<p>ng-class = "{ 样式名1: 表达式 , 样式名2: 表达式 }"</p>

<h3 id="demo">demo:</h3>

<p>css:</p>

<pre><code>    .strikeLine {
      text-decoration: line-through;
    }

    .yellowBg {
      background: yellow;
    }

    .redFont {
      color: red;
    }
</code></pre>

<p>html:</p>

<pre><code>  &lt;!-- 注意样式之间是通过逗号进行分割的， 而不是分号 --&gt;
  &lt;p ng-class="{strikeLine: deleted, yellowBg: yellow, redFont: red}"&gt;test example for ng-class &lt;/p&gt;
  &lt;div&gt;
      &lt;input type="checkbox" ng-model="deleted"/&gt;strike line
  &lt;/div&gt;

  &lt;div&gt;
      &lt;input type="checkbox" ng-model="yellow"/&gt;yellow bg
  &lt;/div&gt;

  &lt;div&gt;
      &lt;input type="checkbox" ng-model="red"/&gt;red font
  &lt;/div&gt;
</code></pre>

<p><a href="http://jsbin.com/joyayikedo/edit?html,output">Jsbin 在线实例查看地址</a></p>
<!-- content end -->
</div>
<br>
<br>
    <div id="disqus_thread"></div>
	<div class="footer">
		<p>© Copyright 2014 by isnowfy, Designed by isnowfy</p>
	</div>
</div>
<script src="main.js"></script>
<script id="content" type="text/mustache">
    <h1>{{title}}</h1>
    <div class="tag">
    {{date}}
    {{#tags}}
    <a href="/#/tag/{{name}}">#{{name}}</a>
    {{/tags}}
    </div>
</script>
<script id="pagesTemplate" type="text/mustache">
    {{#pages}}
    <li>
        <a href="{{path}}">{{title}}</a>
    </li>
    {{/pages}}
</script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "main.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $("#title").html(data.name);
            var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
            var pagesHtml = pagesTemplate.render({"pages": data.pages});
            $("#pages").append(pagesHtml);
            //path
            var path = "ngClass.html";
            //path end
            var now = 0;
            for (var i = 0; i < data.posts.length; ++i)
                if (path == data.posts[i].path)
                    now = i;
            var post = data.posts[now];
            var tmp = post.tags.split(" ");
            var tags = [];
            for (var i = 0; i < tmp.length; ++i)
                if (tmp[i].length > 0)
                    tags.push({"name": tmp[i]});
            var contentTemplate = Hogan.compile($("#content").html());
            var contentHtml = contentTemplate.render({"title": post.title, "tags": tags, "date": post.date});
            $("#main").prepend(contentHtml);
            if (data.disqus_shortname.length > 0) {
                var disqus_shortname = data.disqus_shortname;
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            }
        }
    });
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ["\\(", "\\)"]], processEscapes: true}});
</script>
</body>
</html>
